<IfModule mod_rewrite.c>
    Options -MultiViews    
    RewriteEngine On
    RewriteBase /siaplf/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^((?!public/).*)$ public/$1 [NC,L,R]
</IfModule>